@import "/node_modules/bootstrap/dist/css/bootstrap.min.css";

/* Css For Imput Box */

.uploadOuter {
  text-align: center;
  padding: 20px;
  strong {
    padding: 0 10px;
  }
}
.dragBox {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  text-align: center;
  font-weight: bold;
  line-height: 50px;
  color: #999;
  border: 2px dashed #ccc;
  border-radius: 1rem;
  display: inline-block;
  transition: transform 0.3s;
  input[type="file"] {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    top: 0;
    left: 0;
  }
}
.draging {
  transform: scale(1.1);
}
#preview {
  text-align: center;
  img {
    max-width: 100%;
  }
}
