<!-- 

1. Create a new file named .env in same working directory as the .env_example and copy these environment variables into .env file, replace your API keys in .env file.  
2. Delete the .env_example file 
   
-->

OPENAI_API_KEY= YOUR_OPENAI_API_KEY
OCR_API_KEY = YOUR_OCR_API_KEY